[Unit]
Description=Give all Steam games: nvidia-run gamemoderun mangohud %%command%% (account %i)

[Service]
Type=oneshot
ExecStart=%h/.local/bin/steam-launch-options-after-exit
